<a href="https://colab.research.google.com/github/divyar2674/data-handling-and-visualization/blob/main/pandasseries(labsheet3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as s

In [ ]:
A=[1,7.2,2]
myvar=s.Series(A)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [ ]:
print(myvar[0])

1.0

In [ ]:
#create labels
myvar=s.Series(A,index=["x","y","z"])
print(myvar)

x    1.0
y    7.2
z    2.0
dtype: float64

In [ ]:
print(myvar['y'])

7.2

In [ ]:
#dictionary
dict={"brand":"audi","model":"Q3","year":"dono"}
print(dict)

{'brand': 'audi', 'model': 'Q3', 'year': 'dono'}

In [ ]:
import pandas as p
s1=p.Series([-3,-2,1,3,5,'go',7.3])

In [ ]:
print(s1)

0     -3
1     -2
2      1
3      3
4      5
5     go
6    7.3
dtype: object

In [ ]:
print(s1[2])

1

In [ ]:
calories={"day1":420,"day2":380,"day3":390}
myvar=p.Series(calories)

In [ ]:
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
s1=p.Series([-3,-2,1,3,5,'go',7.3])
print(s1[:2])

print(s1[[2,1,0]])

0    -3
1    -2
dtype: object
2     1
1    -2
0    -3
dtype: object

In [ ]:
#alternative way of creating series
s=p.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])

1

In [ ]:
#data frame
data={"calories":[420,380,390],"duration":[50,40,45]}
pd=p.DataFrame(data)
print(pd)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
#dataframe with customized index
data={'name':['Tom','Jack','Steve','Ricky'],'Age':[29,34,29,42]}
df=p.DataFrame(data,index=['rank1','rank2','rank3','rank4'])

In [ ]:
print(df)

        name  Age
rank1    Tom   29
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
print(myvar.loc["day2"])

380

In [ ]:
#Add new column
df['ID']=[10,10,30,40]
print(df)

        name  Age  ID
rank1    Tom   29  10
rank2   Jack   34  10
rank3  Steve   29  30
rank4  Ricky   42  40

In [ ]:
#check unique values in column
df['ID'].unique()

array([10, 30, 40])

In [ ]:
#frequency
df['ID'].value_counts()

10    2
30    1
40    1
Name: ID, dtype: int64

In [ ]:
df.size

12